@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

        *{
            margin: 0;
            font-family: 'DM Sans';
            user-select: none;
        }
        
        html, body{

            min-height: 100vh;
        }

        body{
            
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #3e3b3b;
            color: #f1e7e7;
        }

        #clock{
            
            font-size: 600%;
        }

        button{

            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }

        .fixed{
            display: flex;
            position: fixed;
            bottom: 5px;
            right: 5px;
        }

        input[type=color]{

            opacity: 0%;
        }

        .color-wrapper{

            border: 1px solid white;
        }

        .hidden{

            display: none;
        }